<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @owner.dog %>
</p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @owner.password %>
</p>

<p>
  <strong>Doggie cam:</strong>
  <%= @owner.doggie_cam %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @owner.insurance %>
</p>

<p>
  <strong>Private care:</strong>
  <%= @owner.private_care %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @owner.full_time %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
