<h1>Listing dogs</h1>

<table>
  <thead>
    <tr>
      <th>Breed</th>
      <th>Age</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= "Breed:#{ dog.breed}   "%></td>
        <td><%= "Age: #{dog.age}    " %></td>
        <td><%= image_tag dog.avatar.url(:thumb)%></td>
        <td><%= link_to 'Find A Sitter', user_dog_path(dog.user, dog.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'My Account', user_path(current_user.id) %></br>

<%= link_to 'New Dog', new_user_dog_path %>
