<p id="notice"><%= notice %></p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Medical status:</strong>
  <%= @dog.medical_status %>
</p>
<%= link_to 'Add Another Dog', new_dog_path %>
<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
