<p id="notice"><%= notice %></p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @dog.avatar.url %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>
<p>
  <strong>Full Time:</strong>
  <%= @dog.full_time %>
</p>
<p>
  <strong>Insurance:</strong>
  <%= @dog.insurance %>
</p>
<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>
<p>
  <strong>Doggie Cam:</strong>
  <%= @dog.doggie_cam %>
</p>
<p>
  <strong>Solo Care:</strong>
  <%= @dog.solo_care %>
</p>

<p>
  <strong>Medical status:</strong>
  <%= @dog.medical_status %>
</p>

<h3> Top Dog Sitters Based on Your Results </h3>
<ul>
<% @dog.sitters.each do |sitter| %>
<li><%= "Name: #{sitter.fname}     " "#{sitter.lname}" %> | <%= "About: #{sitter.summary}"%></li>
<% end %>
<br/>
</ul>








