<%= form_for(@sitter) do |f| %>
  <% if @sitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitter.errors.count, "error") %> prohibited this sitter from being saved:</h2>

      <ul>
      <% @sitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for @sitter, :url => sitters_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :years_of_experience %><br>
    <%= f.number_field :years_of_experience %>
  </div>
  <div class="field">
    <%= f.label :insurance %><br>
    <%= f.check_box :insurance %>
  </div>
  <div class="field">
    <%= f.label :full_time %><br>
    <%= f.check_box :full_time %>
  </div>
  <div class="field">
    <%= f.label :doggie_cam %><br>
    <%= f.check_box :doggie_cam %>
  </div>
  <div class="field">
    <%= f.label :solo_care %><br>
    <%= f.check_box :solo_care %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
